---
layout: page
title: 
permalink: /
---
<html>
<body class= "home-body">
<div class="home">
<div class="page-lead">
 <h1 class="main-hello">Brenda <span class="ruby">Ruby</span></h1> 
 <h3>Writing, Photography and Graphic Design</h3>
</div>
<div class="home-tile">
  <h3 class="page-heading">Recent Posts:</h3>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="home-tile">
  <h3 class="page-heading">Recent Albums:</h3>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="home-tile">
  <h3 class="page-heading">Recent Works:</h3>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

</div>
</body>
</html>